# editorconfig.org

# top-most EditorConfig file
root = false


[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none
dotnet_diagnostic.CA2007.severity = none